[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
pytest-django = "*"
pytest-selenium = "*"

[packages]
psycopg2 = "*"
django = "*"
django-widget-tweaks = "*"
requests = "*"
selenium = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
