body {
    font-family: "Scope One", sans-serif;
    font-weight: 700;
}

#mainNav {
background-color: #C45525;
}

header.masthead {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/background.jpg");
}

.navbar-brand {
    display: block;
    margin-left: 10vw;
    color: rgba(255, 255, 255, 0.7);
}

h1, h2, h3, h4, h5, h6, #mainNav .navbar-nav .nav-item .nav-link, .a_footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    color: black;
}

.form-text {
    color: black;
    font-size: 10px;
}

hr {
    height: 3px;
    background-color: #DE9440;
}

.a_footer:hover {
    text-decoration: none;
    color: white
}

footer {
    background-color: #C45525;
}

.content-items {
    background-color: #de9440;
    padding-top: 150px;
}

.list-items {
    border: 10px solid black;
}

.product {
    padding: 50px;
}

.pict-products {
    display: block;
    width: 150px;
    height: auto;
    border: 5px solid #345a61;
}