:root {
    --rooibos: #c45525;
    --mussel-light: #417078;
    --mussel: #345a61;
    --mussel-dark: #1E3438;
    --candy: #86ebe6;
    --fudge: #de9440;
    --cookie: #e8a75d;
}

body {
    font-family: "Scope One", sans-serif;
}

#mainNav {
background-color: var(--rooibos);
}

header.masthead {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/background.jpg");
}

.navbar-brand {
    display: block;
    margin-left: 10vw;
    color: rgba(255, 255, 255, 0.7);
}

h1, h2, h3, h4, h5, h6, #mainNav .navbar-nav .nav-item .nav-link, .a_footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    color: black;
}

.form-text {
    color: black;
    font-size: 10px;
}

hr {
    height: 3px;
    background-color: var(--fudge);
}

.a_footer:hover {
    text-decoration: none;
    color: white
}

footer {
    background-color: #C45525;
}

.content-items {
    background-color: #de9440;
    padding-top: 150px;
}

.list-items {
    border: 10px solid black;
}

.product {
    padding: 50px;
}

.pict-products {
    display: block;
    width: 150px;
    height: auto;
    border: 5px solid #345a61;
}

.btn-mussel {
    background-color: var(--mussel-light);
}

.btn-mussel:hover {
    background-color: var(--mussel);
}