{% extends 'base.html' %}

{% block top_section %}

{% if user.is_authenticated %}
<p>Vous êtes déjà connecté.
    <br><a href="{% url 'users_app:index' %}">Accueil</a> <a
            href="{% url 'users_app:account' %}">Mon compte</a>
</p>
{% elif form.errors %}
<p>Vos identifiants ne correspondent à aucun utilisateur connus. Veuillez
    réassayer ou réinitialisez votre mot de passe.</p>
{% include "./includes/auth_form.html" %}
{% else %}
{% include "./includes/auth_form.html" %}
{% endif %}


{% endblock %}