{% extends 'base.html' %}
{% load static %}
{% block add_css %}
    <link href="{% static 'css/list_items.css' %}" rel="stylesheet"/>
    {% block add_more_css %}{% endblock %}
{% endblock add_css %}

{% block masthead %}{% endblock %}

{% block content %}
<div class="container-fluid min-vh-100 p-0">
{% block cover_product %}
<div class="container-fluid cover-product" style="background-image: url({% block add_product_cover %}{% endblock %});">
    <div class="row justify-content-center align-items-end h-100">
        <div class="col-10 text-center pb-1">
            <h3>{% block search_product %}"{{ result.input_user }}"{% endblock %}</h3>
            <hr style="width: 200px;">
        </div>
    </div>
</div>
{% endblock  %}

<div class="container-fluid content-items">

{% if result.products %}
    {% for product in result.products %}

        {% if forloop.counter|add:"2"|divisibleby:"3" %}
        <div class="row justify-content-around align-items-around">
        {% endif %}

        <div class="col-sm col-lg-3 d-flex flex-column justify-content-center align-items-center mt-4 mb-4">
            <a href="{% block add_link_product %}{% endblock %}">
            <div class="pict-products" style="background-image: url({{ product.pict_product }})">
                <div class="nutriscore {{ product.nutriscore }}">{{ product.nutriscore|title }}</div>
            </div>
                <div class="font-weight-bold text-center product-name">{{ product.name }}</div>
            </a>
            {% block add_favorite %}{% endblock %}
        </div>


        {% if forloop.counter|divisibleby:"3" %}
        </div>
        {% endif %}


    {% endfor %}
{% if results.products|length|divisibleby:"3" %}
</div>
{% endif %}

{% else %}

    {% block warning_message %}{% endblock %}

{% endif %}
</div>
</div>
{% endblock content %}