{% extends 'list_items.html' %}
{% load static %}
{% block add_more_css %}
    <link href="{% static 'css/substitute.css' %}" rel="stylesheet"/>
{% endblock %}

{% block add_product_cover %}
{{ result.product_to_sub.pict_product }}
{% endblock %}

{% block search_product %}
{{ result.product_to_sub.name }}
{% endblock %}

{% block add_link_product %}
    {% url 'products_app:product' product_id=product.id %}
{% endblock %}

{% block add_favorite %}
<div class="d-flex">
<form method="POST" action="{% url 'favorites_app:favorites' %}">
    {% csrf_token %}
    <input name="product_substitute" type="hidden" value="{{ product.id }}">
    <input type="image" src="{% static 'assets/img/favorite.png' %}" class="favorite align-self-start">
    Enregistrer à mes favoris
</form>
</div>
{% endblock %}