{% extends 'list_items.html' %}
{% load static %}
{% block add_more_css %}
<link href="{% static 'css/substitute.css' %}" rel="stylesheet"/>
{% endblock %}

{% block add_product_cover %}
{{ result.product_to_sub.pict_product }}
{% endblock %}

{% block search_product %}
{{ result.product_to_sub.name }}
{% endblock %}

{% block add_link_product %}
{% url 'products_app:product' product_id=product.id %}
{% endblock %}

{% block add_favorite %}
{% if product in user.favorites.all %}
<div class="d-flex">
    <input name="product_substitute" type="hidden" value="{{ product.id }}">
    <img class="favorite align-self-start"
         src="{% static 'assets/img/already_favorite.png' %}">
    Produit favori <3
</div>
{% else %}
<div class="d-flex">
    <form action="{% url 'favorites_app:favorites' %}" method="POST">
        {% csrf_token %}
        <input name="product_substitute" type="hidden"
               value="{{ product.id }}">
        <input class="favorite align-self-start"
               src="{% static 'assets/img/favorite.png' %}"
               type="image">
        Ajouter à mes favoris
    </form>
</div>
{% endif %}
{% endblock %}

{% block warning_message %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="alert alert-success alert-dismissible fade show text-center"
                 role="alert">
                Vous avez déjà le meilleur produit.
                <button aria-label="Fermer" class="close" data-dismiss="alert"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock warning_message %}